html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 2rem;
  font-family: sans-serif;
  user-select: none;
  overflow: hidden;
}

img {
  width: 300px;
  height: auto;
}
